<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
        <title>Fika Scheduling by Olle</title>
    </head>
    <body>
        <div class="row" style="background-color:#ffbf95"> 
            <div class="col-2"></div>
            <a href="/" class="col-sm m-4 topbar-button" >
                <div class="m-auto width: 200px height: 60px">
                    <div class="m-4 link-text">
                        Home
                    </div>
                </div>
            </a>
            <a href="/add_request" class="col-sm m-4 topbar-button">
                <div class="m-4 link-text">
                    Add yourself!
                </div>
            </a>
            <a href="/remove_request" class="col-sm m-4 topbar-button">
                <div class="m-4 link-text">
                    I don't want to be on the list anymore
                </div>
            </a>
            <div class="col-2"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {% block content %}{% endblock %}
            </div>
            <div class="col-3"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>